<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="main_div">
        <div class="card-header ex1 example" style=" height:50px; background-color: rgb(119, 177, 252); border-radius: 10px;" > <img src="../../assets/DeepakMandal.jpg" style="width:25px; padding-top:0px;"  alt=""> <b style="font-family: sans-serif;">&nbsp;&nbsp;Ask Deepak</b>
             <span>&emsp;&nbsp;<i id="min" class="fa fa-minus " (click)="minimize()"></i></span>
            <i id="max"  class="fa fa-window-maximize" (click)="maximize()"></i>
        </div>
<div class="ex1 example" id ="cb" class="card mb-3" style="width:250px;height:250px; border-radius:10px; ">
        <div class="card-body ex1 example" style="width:250px;" id="s">
                <div >
                        <table id="tab" style="table-layout: fixed; border-radius: 10px ; font-size:10px; ">
                            
                        </table>
                        </div>
          </div>
          <table style="border:none" style="table-layout: fixed; background-color: rgb(89, 159, 250); border-radius: 10px;;
                        width: 248px;" >
                            <tr>
                                <td style="padding-left:7px; "><input name="msg" id="msg" placeholder="type here..." class="form-control" type="text" aria-label="Search" style=" height:20px; width:200px; font-size:small" ></td>
                                <td style="text-align:right;padding-right: 10px;"><i id="send" class="fa fa-paper-plane fa-lg " (click)="send()"></i></td>
                            </tr>
                        </table>
      </div>
</div>